*{
    scroll-behavior: smooth !important
}


#projects{
    scroll-behavior: smooth !important;
}

#about{
    scroll-behavior: smooth !important;
}

#Skills{
    scroll-behavior: smooth !important;
}
body{
    color: azure;
    font-family: "Poppins", sans-serif; 
    background-image: linear-gradient(to right, #650979, #070F2B);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: white;

}

header{
    top: 1px;
    position: -webkit-sticky;
}

nav{
    background-color: linear-gradient(to right, #650979, #070F2B);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 1px;
    
}
.left{
    display: flex;
    margin: 0 30px;
    font-size: 2.50rem;

}
.right{
    display: flex;
    color: white;
    
}

.button{
    background-color: hotpink;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
   margin: 10px 20px;

    font-size: 1rem;
    align-items: center;

    text-decoration: none;

}

.abtme{
    font-size: 1.6rem;
    margin-left: 80px;
}

.bruh{
    font-size: 3.3rem;

}

#resume:hover{
    background-color: rgba(115, 42, 115, 0.753);
    color: #070F2B;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);

}

#Gitthub:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}

.button:hover{
    background-color: #9290C3;
    color: white;
    transition: 0.5s ease-in-out;
}

nav ul{
    display: flex;
    
    list-style: none;
    margin: 0 20px;

}
nav ul li{
    color: white;
    padding: 20px;
}


nav ul li a :hover{
    text-decoration: none;
    color: steelblue ;

}

.firstsec {
     
    display:block;
    justify-content: center;
    margin-top: 150px;
    height: 50vh;
    text-align: center;


}

#element{
    margin: 0 5px;
    font-size: 4.5rem;
    color: #DA0C81;
}
.leftsec{
    margin: 0 50px;
    font-size: 3rem;
}

.coloro{
   color: #E95793;
}

.secsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.line{
    border-top: 1px solid #9290C3;
    margin: 50px 80px;
}

#resume{
    
    background-color: hotpink; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#Gitthub{
    background-color: #9290C3; 
    border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.edu{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;

}


.Education{
    max-width: 80vw;
    justify-content: space-around;
    margin: 50px auto;
    height: 80vh;
}

#span{
    color: burlywood;
    margin: 1px auto;
    padding: 10px;
}

.school{
    display: inline-block;
    text-align: center;
    font-display: flex;
    margin: auto;
    border: 2px solid #9290C3;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #9290C3;
    width: 300px;
    height: 300px;
    padding-inline: 20px;
    margin: 22px;

}

 .Hi{
    font-size: 1.7rem;
    margin: 50px 0;
    max-width: 80vw;
    justify-content: space-around;
    margin: 50px auto;
    
    
 }

.Institute{
    
    
}


#Skills{
    font-size: 1.7rem;
}

h4{
    font-size: 1.3rem;
}
.secsection{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.projects {


    margin: 2rem auto; /* Add some margin for spacing */
    max-width: 800px; /* Set a maximum width for responsiveness */
    text-align: center; /* Center the content within the section */
  }
  
  .projects h2 {
    margin-bottom: 1rem; /* Add some space below the heading */
  }
  
  .project-container {
  display: inline-block;
  width: 100%;
  justify-content: center;


    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 0px auto; 
  }
  .level{
    margin: 50px 120px;
    text-align: left;
  }
  .project {

    display: block;
    
    margin: 1rem; 
        text-align: center; 
    width: 600px;
    border: 5px solid #9290C3; /* Add a thin border */
    color: white;
    background-color: #9290C3;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease-in-out; 
    border-radius: 20px;
  }
  
  .project:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
    background-color: rgba(115, 42, 115, 0.753);
    color: white;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  
  .project img {
    width: 100%; /* Make image fill the project width */
    display: block; /* Ensure image takes up full width */
    margin-bottom: 1rem; /* Add space below image */
  }
  
  .project h3,
  .project p {
    margin-bottom: 0.5rem;
  }
  
  .project a {
    color: #000; 
    text-decoration: none; 
  }
  
  .project a:hover {
    color: blue; 

  }










.school:hover{
    background-color: rgba(115, 42, 115, 0.753) ;
    color: white;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.img{
    width: 500px;
    height: 500px;
    align-items: center;
    margin: 50px 100px;
    border-radius: 350px;
}

img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    overlay: hidden;
}
.aboutme{

    text-align: right; 
    margin-top: 20px;
    letter-spacing: 2px;
    color: #E95793;
    font-size: 1.2rem;
    text-transform:inherit;
}

.skills{
    max-width: 80vw;
    justify-content: space-around;
    margin: 50px auto;
    height: 160vh;
}

.skill-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skillbox{
    
    display:  inline-block;
    border: 10px solid #9290C3;
   width: auto;
   padding-top: 20px;
    font-display: flex;
    margin: 80px ;
    border: 10px solid #9290C3;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #9290C3;
    width: 350px;
    height: 350px;
    padding-inline: 20px;
    position: relative;
  
   
}

.skillbox:hover{
    background-color: rgba(115, 42, 115, 0.753);
    color: white;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

footer{
    background-image: linear-gradient(to right, #82119c, #09174a);
    height: 500px;
    color: turquoise;
    text-align: center;

}

.footer{
    display: inline-block;
    margin: 120px 20px;
    text-align: center;
    justify-content: baseline;

}

.github img{
    height: 50px;
    width: 50px;
   
}

.insta img{
    height: 30px;
    width: 30px;
  
}

.linkedin img{
    height: 30px;
    width: 30px;
    
    
}


.mail img{
    height: 30px;
    width: 30px;
    
}




.images{
    margin: 30px 100px;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 0 200px;
    padding: 0% 320px;

}

.images:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    overlay: hidden;
}



.logos{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    border-radius: 200px;
}

.logos img{
    height: 300px;
    width: 350px;
    border-radius: 20px;
}


